<html>
	<head>
		<!-- <link href="/styles.css" rel="stylesheet" media="all" /> -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		<title></title>
	</head>
		<body>
			<h1>Welcome to barber shop!</h1>
			<p>We are open!</p>
			<form action="/" method="POST">
				Your name:<br/>
				<input type="text" name="user_name"><br/>
				Your phone:<br/>
				<input type="text" name="phone"><br/>
				Date and time:<br/>
				<input type="text" name="date_time"><br/>
				<input type="submit" class="btn btn-primary"/>
			</form>
		</body>
</html>