<h1>Welcome to barber shop!<h1>
<p>We are open!<p>

<!-- <p><%= @login %><p>
<p><%= @password %><p> -->
<p><%= @message2 %></p>

<form action="/" method="POST">
	<input type="test" name="aaa">
	<input type="password" name="bbb">
	<input type="submit">
</form>

<form action="/" method="POST">

	Your name:<br>
	<input type="text" name="user_name"><br>
	Your phone:<br>
	<input type="text" name="phone"><br>
	Date and time:<br>
	<input type="text" name="date_time"><br>

	<input type="submit" />
</form>