<div class="jumbotron">
  <h1>Добро пожаловать в менеджер Ваших дел!</h1>
  <p>Сделайте Ваш выбор</p>
  <%= link_to "Войти", new_user_session_path, class: "btn btn-primary" %>
  <%= link_to "Зарегистрироваться", new_user_registration_path, class: "btn btn-primary" %>
</div>